[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
tweepy = "*"
twint = {ref = "origin/master", git = "https://github.com/twintproject/twint.git"}
neo4j = "*"
jupyter = "*"
notebook = "*"
nest-asyncio = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
requests-html = "*"
scweet = "*"
praw = "*"
pandas = "*"
matplotlib = "*"
nltk = "==3.3"
textblob = "*"

[dev-packages]

[requires]
python_version = "3.10"
