[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
jupyter = "*"
notebook = "*"
praw = "*"
pandas = "*"
scipy="*"
matplotlib = "*"
nltk = "==3.3"
textblob = "*"
twython = "*"
requests = "*"
python-dotenv = "*"
python-louvain = "*"

[dev-packages]

[requires]
python_version = "3.10"
